@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
/* App styling */
.App {
  min-height: 100vh; /* Sets the minimum height to the full viewport height */
  display: flex; /* Enables flexbox for child elements */
  background-image: url('../public/chatBackground.jpg'); /* Background image for the app */
  background-size: cover;
  background-position: center;
  
}


::-webkit-scrollbar{
  width: 0px;
}
::-webkit-scrollbar-thumb
{
  background: rgba(136,136,136,0.281);
}
::-webkit-scrollbar-thumb:hover
{
  background: #555;
}

